
<div class="header">
    <div class="showcase">
        <div class="showcase-top">
            <img src="https://i.ibb.co/r5krrdz/logo.png" alt="" />
            <a routerLink="/login"  class="btn btn-rounded">Sign In</a>
        </div>
        <div class="showcase-content">
            <h1>See what's next</h1>
            <p>Watch anywhere. Cancel Anytime</p>
            <a routerLink="/register"  class="btn btn-xl"
                >Watch Free For 30 Days <i class="fas fa-chevron-right btn-icon"></i
            ></a>
        </div>
    </div>
</div>
